{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}
{{ define "content" }}
<img src="/about_files/figure-html/unnamed-chunk-1-1.png">
 <style type="text/css">
.main-container {
  margin-top: -5px;
  padding: 0
}
</style>
<div id="hello-and-welcome" class="section level1">
<h1>Hello and welcome!</h1>

<p>My name is Nathaniel Woodward (<em>né</em> Raley) and I am a data science professional working at <a href="https://www.indeed.com">Indeed.com</a>, where every day <b>I help people get jobs</b>.</p>

Previously I was a faculty member in the <a href="https://stat.utexas.edu/">Department of Statistics and Data Sciences</a> at UT Austin, where I earned both MS (2016) and PhD (2018) while working as a researcher and statistical consultant.</p>

<p>I am skilled in online experimentation and modern statistical approaches to causal inference. <b> In my current role, I develop and draw upon methods from statistics and machine learning to provide robust recommendations and predictions to company stakeholders</b> to help guide product improvements.</p>

<p>I have experience modeling causal effects under endogeneity, including observational studies threatened by selection bias and treatment effect heterogeneity in a nationwide randomized effectiveness trial. </p>

<p>I have also conducted RCT laboratory studies with human subjects to test theoretical claims about human memory and interventions designed to improve long-term retention and transfer of learning to new contexts. </p>

<p>I am interested in human--computer interaction and have experience applying psychometric techniques to adaptively model individuals' latent traits based on their interactions with computers and using such models to inform predictions and to optimize training regimens. </p>

<p>For some examples of my past work, see my <a href="/portfolio/">portfolio</a> page. </p>

<p>For more about me (dated vanity stuff), see <a href="/about/">more about me</a>.</p>

 
{{ end }}

{{ define "footer" }}
  {{ if .Site.GoogleAnalytics }}
    <!-- Google Analytics -->
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
  {{ partial "footer/font-awesome-js.html" . }}
{{ end }}
