{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}
{{ define "content" }}
<img src="/about_files/figure-html/unnamed-chunk-1-1.png">
 <style type="text/css">
.main-container {
  margin-top: -5px;
  padding: 0
}
</style>
<div id="hello-and-welcome" class="section level1">
<h1>Hello and welcome!</h1>
<p>My name is Nathaniel Woodward (<em>né</em> Raley)</p>
<p>I am an Assistant Professor of Instruction in <a href="https://stat.utexas.edu/">Statistics and Data Sciences</a> at UT Austin, where I earned both PhD (2018) and MS (2016) while working as a researcher and statistical consultant.</p>
<p>I am interested in modern statistical approaches to causal inference, especially as they apply to evaluations of human learning and memory. In my research, I have used institutional data to investigate teaching effectiveness, curriculum redesign, pathways through college, and other questions important to university stakeholders.</p>
<p>I have experience modeling the causal effect of large-scale interventions, including a nationwide randomized effectiveness trial. I have also conducted laboratory studies with human subjects to test interventions designed to improve long-term retention and transfer of learning to new contexts.</p>
<p>I am also interested in human–computer interaction and have experience applying psychometric techniques to adaptively model latent traits (such as ability and mastery) based on people’s interactions with technology (e.g., click-stream and other log data, biometric measurements) and using such models to inform predictions and to optimize training regimens.</p>
<p>For some examples of my work, see the <a href="/portfolio/">portfolio</a> page.</p>
 
{{ end }}

{{ define "footer" }}
  {{ if .Site.GoogleAnalytics }}
    <!-- Google Analytics -->
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
  {{ partial "footer/font-awesome-js.html" . }}
{{ end }}
